{% if template == "product.thumbright" %}
  {% assign viewtype = 'type1' %}
{% elsif template == "product.thumbbottom" %}
  {% assign viewtype = 'type2' %}
{% elsif template == "product.nothumb" %}
  {% assign viewtype = 'type3' %}
{% elsif template == "product.thumb_vertical" %}
  {% assign viewtype = 'type5' %}
{% elsif template == "product.step_buy" %}
  {% assign viewtype = 'type6' %}
{% elsif template == "product.thumb_all" %}
  {% assign viewtype = 'type7' %}
{% elsif template == "product.thumb_grid" %}
  {% assign viewtype = 'type8' %}
{% elsif template == "product.tabdesc" or template == "product.variant_drop" or template == "product.variant_img" or template == "product.variant_bg" %}
  {% assign viewtype = 'type4' %}
{% else %}
  {% if settings.type_sidebar_product == 'thumb_right' %}
    {% assign viewtype = 'type1' %}
  {% elsif settings.type_sidebar_product == 'thumb_bottom' %}
    {% assign viewtype = 'type2' %}
  {% elsif settings.type_sidebar_product == 'thumb_none' %}
    {% assign viewtype = 'type3' %}
  {% elsif settings.type_sidebar_product == 'thumb_vertical' %}
    {% assign viewtype = 'type5' %}
  {% elsif settings.type_sidebar_product == 'tab_stepbuy' %}
    {% assign viewtype = 'type6' %}
  {% elsif settings.type_sidebar_product == 'thumb_all' %}
    {% assign viewtype = 'type7' %}
  {% elsif settings.type_sidebar_product == 'thumb_grid' %}
    {% assign viewtype = 'type8' %}
  {% elsif settings.type_sidebar_product == 'tab_desc' or settings.type_sidebar_product == 'variant_img' or settings.type_sidebar_product == 'variant_bg' or settings.type_sidebar_product == 'variant_drop' %}
    {% assign viewtype = 'type4' %}
  {% endif %}
{% endif %}


<div class="product-template__container{% if viewtype =='type1' %} thumb_right{% elsif viewtype =='type2' %} thumb_bottom{% elsif viewtype =='type3' %} thumb_none{% elsif viewtype =='type5' %} thumb_vertical{% elsif viewtype =='type6' %} step_buy variant_drop{% elsif viewtype =='type7' %} thumb_all{% elsif viewtype =='type8' %} thumb_grid{% else %} tabdesc{% endif %}{% if settings.type_sidebar_product == 'variant_drop' or template == "product.variant_drop" %} variant_drop{% endif %}{% if settings.type_sidebar_product == 'variant_img' or template == "product.variant_img" %} variant_img{% endif %}"
itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-enable-history-state="true" data-type="product-template" data-wishlist-product>
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}

  {% assign variantCount = product.variants | size %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}

  {%- assign product_image = '900x' -%}
  {% if viewtype =='type1' %}
    {% include 'product-template-thumb-right' %}
  {% elsif viewtype =='type2' %}
    {% include 'product-template-thumb-bottom' %}
  {% elsif viewtype =='type3' %}
    {% include 'product-template-no-thumb' %}
  {% elsif viewtype =='type5' %}
    {% include 'product-template-thumb-vertical' %}
  {% elsif viewtype =='type6' %}
    {% include 'product-template-stepbuy' %}
  {% elsif viewtype =='type7' %}
    {% include 'product-template-thumb-all' %}
  {% elsif viewtype =='type8' %}
    {% include 'product-template-thumb-grid' %}
  {% else viewtype =='type4' %}
    {% include 'product-template-tab-desc' %}
  {% endif %}


  {% if section.settings.show_related %}
    <div class="BottomContent">
      {% if viewtype == 'type3' %}
        <div class="container">
      {% endif %}
      {% include 'nov-related' %}
      {% if viewtype == 'type3' %}
        </div>
      {% endif %}
    </div>
  {% endif %}

</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "product_swatch_enable",
        "label": "Enable Swatch",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share",
        "label": "Show Share",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_variant_color",
        "label": "Show variant color",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_sku",
        "label": "Show Sku",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_categories",
        "label": "Show Categories",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tags",
        "label": "Show Tags",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_des",
        "label": "Show Summary Description",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_related",
        "label": "Show Related",
        "default": false
      },
      {
        "type": "header",
        "content": "Accordion"
      },
      {
        "type": "checkbox",
        "id": "show_description",
        "label": "Show Description",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_review",
        "label": "Show Review",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "block_text",
        "name": "Block Text",
        "settings": [
          {
            "type": "text",
            "id": "custom_title",
            "label": "Block Title"
          },
          {
            "type": "textarea",
            "id": "custom_content",
            "label": "Block content"
          }
        ]
      },
      {
        "type": "block_img",
        "name": "Block Image",
        "settings": [
          {
            "type": "text",
            "id": "custom_title",
            "label": "Block Title"
          },
          {
            "type": "image_picker",
            "id": "custom_content",
            "label": "Image"
          }
        ]
      },
      {
        "type": "block_video",
        "name": "Block Video",
        "settings": [
          {
            "type": "text",
            "id": "custom_title",
            "label": "Block Title"
          },
          {
            "type": "video_url",
            "id": "video_url",
            "label": "Video link",
            "accept": ["youtube", "vimeo"],
            "info": "Only For Youtube And Vimeo"
          }
        ]
      },
      {
        "type": "block_stepbuy",
        "name": "For Step Buy Type",
        "settings": [
          {
            "type": "text",
            "id": "custom_title",
            "label": "Block Title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
